---
import { Image } from "astro:assets";

interface Props {
  image: string;
  name: string;
}

const { image, name } = Astro.props;
---

<div class="mt-4">
  <div class="hover:bg-zinc-800 space-y-2 py-2 px-3 relative group rounded">
    <div class="w-full">
      <!-- <Image src={image} alt='Artist image' width={100} height={100} /> -->
      <img class="" src={image} alt="" />
    </div>
    <h1>{name}</h1>
    <p class="font-semibold text-xs text-zinc-400">Artist</p>
    <div
      class="bg-green-500 text-black rounded-full w-12 h-12
      flex items-center justify-center absolute right-4 bottom-14 invisible
      group-hover:visible cursor-pointer"
    >
      <i class="bx bx-play text-4xl pl-1"></i>
    </div>
  </div>
</div>
