---

---

<nav class="flex flex-col p-5 gap-4">
    <ul class="flex items-center gap-3 font-semibold text-zinc-500 text-xs capitalize">
        <li><a href="#">Termos legais</a></li>
        <li><a href="#">centro de segunraça e privacidade</a></li>
    </ul>
    <ul class="flex items-center gap-3 font-semibold text-zinc-500 text-xs capitalize">
        <li><a href="#">Politica de privacidade</a></li>
        <li><a href="#">Cookies</a></li>
    </ul>
    <ul class="flex items-center gap-3 font-semibold text-zinc-500 text-xs capitalize">
        <li><a href="#">acerca dos anúncios</a></li>
        <li><a href="#">acessibilidade</a></li>
    </ul>
    <ul class="flex items-center gap-3 font-semibold text-zinc-500 text-xs capitalize">
        <li><a href="#">notice at collections</a></li>
        <li><a href="#">your privacy choices</a></li>
    </ul>
    <ul class="flex items-center gap-3 font-semibold text-zinc-500 text-xs capitalize">
        <li><a href="#">Cookies</a></li>
    </ul>    
</nav>