---

---

<footer
  class="bg-zinc-900 py-2 flex items-center justify-between rounded-md flex-1"
>
  <div class="flex items-center gap-4 px-4">
    <img class="w-12 h-12" src="/imgs/taylor.jfif" alt="" />
    <div>
      <h1 class="hover:underline">Taylor Swift</h1>
      <p class="text-zinc-400 font-bold text-xs">1989</p>
    </div>
  </div>
  <div class="flex flex-col gap-1 items-center justify-center text-center">
    <div class="space-x-2 text-2xl">
      <i class="bx bx-shuffle"></i>
      <i class="bx bx-skip-previous"></i>
      <i class="bx bx-play bg-zinc-100 rounded-full text-zinc-900 p-1"></i>
      <i class="bx bx-skip-next"></i>
      <i class="bx bx-repeat"></i>
    </div>
    <div class="flex items-center gap-2 text-md text-zinc-400">
      <span>0:00</span>
      <div class="w-96 h-1 bg-zinc-400 rounded-full"></div>
      <span>3:20</span>
    </div>
  </div>
  <div class="px-4 text-xl flex items-center gap-2">
    <i class="bx bxs-microphone"></i>
    <i class="bx bxs-playlist"></i>
    <i class="bx bx-radio"></i>
    <div class="flex items-center">
      <i class="bx bx-volume"></i>
      <div class="w-20 h-1 rounded-full bg-zinc-400"></div>
    </div>
    <i class="bx bx-collapse-alt"></i>
  </div>
</footer>
